body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #06283D;
    color: #EAEAEA;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar {
    background: #3C4048;
    padding: 0;
    transition: all 0.4s;
    z-index: 999;
    position: fixed;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    top: 0; 
    left: -260px;
}
header {
    background: #06283D;
    padding: 0;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#navbar {
    background: #3C4048;
    padding: 0;
    transition: all 0.4s;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 4%;
    top: 0;
    left: 0;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#navbar li {
    float: left;
}
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: #111;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.about {
    padding: 80px 0;
}

.facts {
    padding: 80px 0;
    background: #EAEAEA;
}

.section-title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.count-box {
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 30px;
    background: #3C4048;
    border-radius: 6px;
    ;
}
/* Section home */
#home {
    width: 100%;
    height: 100vh;
    background: url(../assets/img/campus-ufv.jpeg) top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 64, 72, 0.7);
}

.home-container {
    position: relative;
    z-index: 2;
    color: #37E2D5;
    font-weight: 200;
    font-size: 4em;
    text-shadow: #333 0 0 10px;
}
.home-container h1 {
    font-size: 2em;
}

.profile {
    padding: 20px;
    text-align: center;
}

section.integrantes {
    padding: 80px 0;
}

section.contact {
    padding: 80px 0;
}

a:visited {
    color: #37E2D5;
}

a {
    color: #37E2D5;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section about */
p.fst-italic {
    font-style: italic;
    font-size: 1.2em;
}
.col-lg-6 {
    padding: 20px;
    background: #3C4048;
    border-radius: 6px;
    ;
}

/* Section Integrantes */
.integrante {
    display: flex;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #3C4048;
    border-radius: 6px;
}
.integrante h4 {
    display: block;
    margin: 0;
    margin-right: 10px;
}
.integrante p {
    margin: 0;
}

/* Section Contact */

section.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contact div.info {
    padding: 20px;
    background: #3C4048;
    border-radius: 6px;
    ;
    margin: 0 auto;
}
section.contact form {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: #3C4048;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 20px;
}
section.contact form label {
    display: block;
    margin-bottom: 10px;
}

/* Section Footer */
footer i {
    font-size: 2.5em;
    ;
    color: #37E2D5;
}